.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141D47;
  width: 100%;
  height: 100%;
  color: #fff;
}

.dialogs {
  display: flex;
}

.dialog {
  width: 400px;
  height: 400px;
}